import "./{{name}}.css";

{{#if hasPropInterface}}
interface {{name}}Props {
  temp: string;
}
{{/if}}

{{#if hasPropInterface}}
function {{name}}({ temp }: {{name}}Props) {
{{else}}
function {{name}}() {
{{/if}}
{{#if hasStarterClass}}
  return <div className="{{kebab name}}"></div>;
{{else}}
  return <div></div>;
{{/if}}
}

export default {{name}};
